.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkProfile {
    width: 75%;
    max-width: 28rem;
    background-color: var(--color-gray800);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
}

.socialLinkProfile__personalData {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.personalData__imageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
}

.personalData__image {
    width: 9rem;
    border-radius: 50%;
}

.personalData__name {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-medium);
}

.personalData__location {
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-green);
}

.socialLinkProfile__description {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.description__text {
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
}

.socialLinkProfile__networks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.networks__listWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
}

.networks__item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.networks__link {
    width: 85%;
    max-width: 25rem;
    text-align: center;
    padding: .9rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-gray700);
    border-radius: 1rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.networks__link:hover {
    background-color: var(--color-green);
    color: var(--color-gray900);
}
